.sidebarrow{
    display: flex;
    align-items: center;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}
.sidebarrow__icon{
    font-size: large !important;
    padding: 10px;
}
.sidebarrow__title{
    flex:1;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}

.sidebarrow:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 15px;
}

.sidebarrow:hover>.sidebarrow__icon{
    color: red;
}

.sidebarrow:hover>.sidebarrow__title{
    font-weight: bold;
}

.sidebarrow.selected {
    background-color: lightgray;
    border-radius: 15px;
}

.sidebarrow.selected > .sidebarrow__icon{
    color: red;
}
.sidebarrow.selected > .sidebarrow__title{
    font-weight: bold;
}